[2020-02-25 16:45] mksm1228 opened #1 "Create a new participation repo?"
Hello @firasm,

I am reading section 15.4.12 for cm015 and I am confused by the instruction telling me to **"clone your participation repo for STAT 547 and navigate to the week01 folder."** Where can I find my participation repo for STAT547 or is it the same participation repo from STAT545A?

[2020-02-25 16:58] firasm commented on #1
Hi @mksm1228,

Sorry about the confusion, it will be a different repo for STAT 547 - I have just updated the instructions a bit to make it clearer (and correct).

To clone the repo, you will first need to accept it [here](https://classroom.github.com/a/uYT4-Doe)

FYI: We'll go over all this in class this morning, so there's no need to do this beforehand. Thanks for being on top of things!

[2020-02-25 17:12] mksm1228 commented on #1
@firasm

Thanks Firas! Currently, I am at a research conference in the states so I am trying to stay on top of things. The link you posted didn't work for me. Could you please resend?

[2020-02-25 18:09] firasm commented on #1
hmm - I just tried the link on my demo student account and it worked. Do you get an error message? What do you see when you click it? You should see something like this

<img width="681" alt="Screen Shot 2020-02-25 at 10 08 27 AM" src="https://user-images.githubusercontent.com/2507459/75274010-e2441b00-57b6-11ea-97b7-3dcf15e35258.png">

[2020-02-25 18:18] firasm commented on #1
Ah - believe it or not, it seems that GitHub.com is intermittently down: https://www.githubstatus.com

Try again in a bit

[2020-02-25 21:02] sciclic opened #2 "Group 5"
Hey - I'm trying to find my group partner, Hyeongcheol Park. I can't see a github username associated to the name in the people following the STAT547 repo, please get in touch if you're taking the course & thank you!

[2020-02-25 21:04] yuliaUU commented on #2
hey! this person might have not attended the class- or there was some issue. I think you can email them through Canvas and ask for all the details:)

[2020-02-25 22:06] firasm opened #3 "Git refresher next class ?"
Hello @STAT547-UBC-2019-20/students,

There was a request at the end of class today by a student to do a git refresher with some tips on how to work collaboratively with a partner and handling merge conflicts. To be honest, even I cannot remember how much practice you received about git forks, branches, pull requests, and merge conflicts from STAT 545.

Please "like" this post if you feel you may

[2020-02-25 22:10] firasm commented on #1
hi @mksm1228 looks like you were able to do this now (I can see your participation repo) so I'll close this issue. Feel free to reopen if needed.

[2020-02-25 22:10] #1 closed

[2020-02-25 22:14] firasm opened #4 "Protip: contact your team member using Canvas Inbox/message"
@STAT547-UBC-2019-20/students Some of you have wondered how to contact your partners in your groups. Here are two suggestions:

1) Use Canvas inbox to send them a "direct message". The student will receive a message in their canvas inbox and likely also an email (depending on their notification settings). See image below on what the drop-down looks like

<img width="1094" alt="Screen Shot 2020-02-

[2020-02-26 04:54] firasm commented on #2
Hi @sciclic, I've moved you into a different group with @jacobgerlofs - see canvas inbox for a message CC'ing you together.

[2020-02-26 04:54] #2 closed

[2020-02-27 16:37] hadleyd2 opened #5 "No YAML Header for cm102_participation.Rmd"
Hello,

For the [second participation Rmd](https://github.com/STAT547-UBC-2019-20/Discussions/blob/master/participation/cm102/cm102_participation.Rmd), there is no YAML header. Was this excluded on purpose so that we add our own YAML header or is it still supposed to knit?

Thank you!

[2020-02-27 16:44] #5 closed

[2020-02-27 16:45] firasm commented on #5
Nope, just an oversight! Good catch, thanks!

fixed in 4fe8542

[2020-02-27 21:46] firasm commented on #3
Ok @STAT547-UBC-2019-20/students we didn't quite get to our actual lecture today, but I'm glad we did this! Hopefully you're all feeling a bit better about your git powers now.

If you still have questions, please feel free to create issues in this repo, and we'll try and get to them ASAP.
Closing issue, feel free to make other suggestions and comments and I'll try to work it in.

[2020-02-27 21:46] #3 closed

[2020-02-27 21:46] #4 closed

[2020-02-27 21:51] firasm opened #6 "Announcement: assignment_01 deadline EXTENDED to Saturday March 7th!"
Hello @STAT547-UBC-2019-20/students,

In case you didn't hear in class today or weren't there, due to the git workflow stuff taking longer than expected (see #3) I have decided to extend the deadline of Assignment 1 to NEXT Saturday, March 7th, 2020.

Please note that:

- Milestone 1 is **still** due this Saturday!
- To keep the pace, both assignment 1 and 2 will be due on Saturday!

Let us know i

[2020-02-27 22:43] hanrach commented on #6
Is there a participation portion to be handed in for the git workflow lecture?

[2020-02-27 22:45] firasm commented on #6
Yes, please fill in this part only :

The rest of the participation worksheet, we will do next Tuesday for cm103

[2020-02-28 00:52] hadleyd2 commented on #6
Hello @firasm,

Can you possibly help me with this participation activity?  I have linked my fork repo as per the first activity: https://github.com/hadleyd2/group_09.git

I had created a pull request while in class and got a merge conflict. I had to resolve the merge conflict manually by deleting the conflict, and then I was able to commit the changes. There is no record of the merge conflict in

[2020-02-28 17:24] firasm commented on #6
hey @hadleyd2 I'm just going to put together a quick primer so things are written down in a more formal way.

To answer your questions:

1. You're right, if you have a merge conflict you cannot actually commit the conflict to your repo. You need to resolve the merge conflict (as you did), and then commit the "fixed" version. In the comments, it's usually good practice to indicate that there was a

[2020-02-28 19:37] firasm opened #7 "Git Primer: cm102 updated with lots more narrative and git-related details"
'Morning @STAT547-UBC-2019-20/students !

I have added a whole bunch more narrative and details to cm102 about the fork-clone-branch-PR workflow. Most of the content is from Jenny Bryan's [HappyGitWithR book](http://happygitwithr.com).

Here is the diagram of the place we're trying to get to. "them" in this case is the fictitious owner of the main project repo that you're forking from.

![fork-tri

[2020-02-28 23:47] firasm opened #8 "Milestone 1: How complex do your research question have to be?"
@STAT547-UBC-2019-20/students I have had a couple of questions from students about how complex the research question has to be.

The answer is: **NOT VERY COMPLEX AT ALL** (see note * below)!

This is not the purpose of STAT 547, in this course you are learning reproducible workflows, analysis pipeline, dashboards, and R programming. In milestone 1 I suggested you select a _descriptive_ or _explor

[2020-02-29 23:44] dy-lin commented on #6
Hi @firasm, do the 48h grace periods apply to both assignments and milestones?

[2020-02-29 23:46] firasm commented on #6
Yes 👍🏽

[2020-02-29 23:46] firasm commented on #6
Yes 👍🏽

[2020-03-02 08:40] carleenaortega opened #9 "milestone due date (time)"
are the milestones due at 6pm like the assignments or midnight like in STAT 545?

[2020-03-02 08:45] firasm commented on #9
6 pm like the assignments!

[2020-03-02 23:45] firasm opened #10 "Running R scripts on your local machine"
hey @STAT547-UBC-2019-20/students,

Hope you had a good weekend! This week we will begin our journey of functional programming in R! To do this, we will need to run some .R scripts (possibly for the first time) from the terminal/command prompt.

To get your machines ready for this, I've prepared a quick test. See instructions below, please try and do this soon, but definitely **before Thursday's l

[2020-03-02 23:50] hadleyd2 opened #11 "Evaluation links not working"
Hello,

The links under the Evaluation section are not working and direct me to a Page not Found.

For example, click on the [Evaluation](https://stat545.stat.ubc.ca/#structure) link and then try [Team Projects](https://stat545.stat.ubc.ca/evaluation/projects).

Sorry if I am missing something.

[2020-03-02 23:51] hadleyd2 commented on #11
Just started working again.

Thanks!

[2020-03-02 23:51] #11 closed

[2020-03-03 00:37] mksm1228 opened #12 "Unable to run test_script.R"
Hello Firas,

I am unable to run the test_script.R using the terminal. I received an error that says "unexpected '<' in "<". I also tried running it on Rstudio by setting the path using here() and using source() to run the R script but Rstudio cannot find the file. Will be there tomorrow for office hours.

[2020-03-03 00:39] firasm commented on #12
thanks @mksm1228, in the meantime could you paste the full output that you see? It might be helpful in debugging.

Also, the operating system and version?

[2020-03-03 00:47] #9 closed

[2020-03-03 00:47] #8 closed

[2020-03-03 01:31] mksm1228 commented on #12
**Terminal:**

mksm1228@VCHR-KWON-LAB01  ~/Desktop/STAT547/STAT547-participation-mksm1228-1 (master)
$ rscript test_script.R
Error: unexpected '<' in "<"
Execution halted

**Rstudio:**

Error in source(test_script.R) : object 'test_script.R' not found

Operating system: Windows 10 Enterprise
Version: 1903

[2020-03-03 03:16] yuliaUU commented on #12
@mksm1228
*Terminal*: first set path: to Rscript.exe: it is located in Program Files\R\R-3.6.1\bin. my line of code I ran in terminal:
`PATH C:\Program Files\R\R-3.6.1\bin`
and then I ran:
`cd C:\Users\yulia\Desktop\folder`
and
`Rscript test_script.R`

*Rstudio terminal*, it means that you are in the wrong working directory: run `here()` and it will tell you which directory you are currently in, i

[2020-03-03 04:24] dy-lin opened #13 "GitHub best practices"
@firasm, I understand that we must fork and branch for our group project as it is a collaborative environment, and it is best practice to not work directly on master.

Is it necessary to branch when working on our assignment repos? participation repos?

[2020-03-03 05:16] dy-lin opened #14 "assignment 1 purrr::map()"
@firasm

When assignment1 says to use `purrr::map()`, does this mean using `purrr::map()` literally, or are we allowed to use `purrr::map*()` functions as well?

[2020-03-03 05:20] firasm commented on #14
Good question!

Everyone, you should check the PRs on your assignment repos! Last week I added a clarification on exactly this in the instructions. See [here](https://github.com/STAT547-UBC-2019-20/assignment-01-dy-lin/pulls) for your repo.

[2020-03-03 05:25] firasm commented on #13
It's not **_necessary_** per se, but it's highly recommended as good practice.

The reason is so that you can pull upstream changes from the original repo without having to deal with merge conflicts when merging the changes in your forked master.

I've quoted the relevant section from Happy Git with R here:

More information [here](https://happygitwithr.com/fork-and-clone.html#dont-touch-master)

[2020-03-03 16:43] firasm commented on #14
Does this answer your question @dy-lin ? If so feel free to close the issue!

[2020-03-03 18:51] dy-lin commented on #14
Yes, thank you! I find it odd that we aren't automatically watching our own repos. I did not get notified about the pull request at all.

[2020-03-03 18:51] #14 closed

[2020-03-03 18:59] evelynjulia opened #15 "no pull request"
I don't have a pull request for assignment 1.

[2020-03-03 19:55] dy-lin commented on #14
I found this issue regarding the "Watching" GitHub Classroom repos: https://github.com/education/classroom/issues/775

[2020-03-03 21:26] HJMcSorley opened #16 "GitBash setup help"
Hi @firasm -- Thanks for your help.
👍
Please share link(s) to help me set the path for running R scripts in Git Bash on my Windows system (R terminal is able to run them properly).

Thanks,
Hannah

[2020-03-03 21:45] firasm commented on #14
Thanks - It seems a PR was added, and merged in, but I can't find the setting to enable it...

[2020-03-03 21:47] firasm commented on #15
hey @evelynjulia it seems you've already merged this PR in!

See [here](https://github.com/STAT547-UBC-2019-20/assignment-01-evelynjulia/pull/1). Go ahead and close the issue if it's resolved

[2020-03-03 21:49] firasm commented on #16
hey @HJMcSorley, the instructions are here: https://ubc-mds.github.io/resources_pages/install_ds_stack_windows/

Please scroll down to the section to the "Rscript" section - there is a whole bunch of other stuff in there that you don't need to do.

[2020-03-03 23:05] yuliaUU commented on #16
@HJMcSorley I also posted an answer in one of the issues on how to do it on windows

[2020-03-03 23:58] evelynjulia commented on #15
Thanks!

[2020-03-03 23:58] #15 closed

[2020-03-04 00:28] evelynjulia opened #17 "public project repo?"
Hi,
Does our project repo need to be public or private? I thought in class we were told to make it private but then in the notes it says public... I may have just heard wrong in class?

[2020-03-04 00:29] firasm commented on #17
hmm - it should be public.

Did I say it should be private ? If so, I didn't mean to!

The _assignment_ and _participation_ repos are meant to be **private** and the _project_ repos should be **public**.

[2020-03-04 19:53] evelynjulia commented on #17
Ah okay. I have changed ours. I think you did say in class it should be private but no matter. It's not a hard fix.

[2020-03-04 19:53] #17 closed

[2020-03-04 20:18] dy-lin commented on #17
I also heard private. Now that the repo is public, do we need a specific LICENSE?

[2020-03-04 20:44] firasm commented on #17
Yes - you and your partner may choose, but I recommend the [MIT License](https://choosealicense.com/licenses/mit/) if you don't have a preference.

[2020-03-05 20:37] dy-lin commented on #17
Something seems to have happened after changing the repository status to public-- it seems that the forks may have been disconnected?

[2020-03-05 23:28] luckymeng7 opened #18 "Fork detached from master"
Hi @firasm ,

When we set the master repo as public, our private fork repo was detached from the master. Do you know how to re-attach the fork repo back?

Thanks,
Monica

[2020-03-05 23:38] yuliaUU commented on #17
@dy-lin , yes, when you made repo public, it unforked it ( check-in your group main repo: the number of forks may show 0)

to solve it, you will need to fork it again: and then create another R project and connect it to your forked repo ( same steps we did  at the beginning of 2nd class)

[2020-03-05 23:40] evelynjulia commented on #17
@dy-lin
Here are the steps that I took to fix the issue when I changed mine:

Go to the main repo (STAT547-UBC-2019-20/<group_name>) and you'll have to click "fork" again... Then you will have a new forked version. (You can delete the old one on GitHub if you want). Get the link for the new forked repo from the "clone or download" button on github.

Then on your laptop, go to the folder where you

[2020-03-06 00:51] evelynjulia opened #19 "submission for assignment 1"
I don't see the option to "submit assignment" for assignment 1. It's available for A2. Perhaps it still needs to be opened?

[2020-03-06 00:53] firasm commented on #19
Hmm it looks open on my side. Let me investigate.

[2020-03-06 00:55] firasm commented on #19
Ok how about now?

[2020-03-06 00:55] evelynjulia commented on #19
Yip. I see it, thanks!

[2020-03-06 00:55] #19 closed

[2020-03-06 03:03] Nima-Jamshidi opened #20 "Milestone 2- Task 2.4"
Could you explain the first point of Task 2.4?

Does it mean that the Rmarkdown file should not include any r code chunks? Should we instead use R script to calculate numbers and values (eg. a table)? If yes, how can we integrate R scripts produced numbers and values in the Rmarkdown output?

Or does it mean that we ought to create a PDF or HTML file from R script using knit function?

[2020-03-06 03:07] firasm commented on #18
Sigh - hooray for unintended consequences. Sorry about this issue (everyone that's affected by it).

Here's what I was able to find. According to [GitHub](https://help.github.com/en/github/collaborating-with-issues-and-pull-requests/what-happens-to-forks-when-a-repository-is-deleted-or-changes-visibility):

This means that you will need to:

- Create a new fork of the public repository
- Warning!

[2020-03-06 03:17] firasm commented on #20
Good question @Nima-Jamshidi !

Actually, this is an error.

@STAT547-UBC-2019-20/students: this might be useful for you to know as well.

I have removed that line, as well as the line that asks you to knit your file with a script milestone03 online with that change. Both those point belongs in Milestone03 as you will learn about it in cm106 on Thursday next week.

[2020-03-06 04:18] dy-lin commented on #20
So what is it exactly that we have to do for Task 2.4? Just an Rmarkdown file knitted to PDF/HTML? (where we press knit in RStudio, instead of knitting in an Rscript?)

[2020-03-06 04:21] firasm commented on #20
Yes, that’s it. Let’s just get it ready for automation next week.

[2020-03-06 06:34] Nima-Jamshidi commented on #20
Thank you @firasm !

[2020-03-06 17:26] evelynjulia commented on #20
And should the file be in the scripts folder or stay in Docs?

[2020-03-06 17:37] firasm commented on #20
I’d put them in docs personally but one could make an argument that an Rmd file is also a script.

[2020-03-07 00:14] firasm commented on #16
@HJMcSorley is this solved? If yes let's close the issue!

[2020-03-07 00:15] firasm commented on #13
Hi @dy-lin is this solved? if yes, let's close the issue

[2020-03-07 00:47] firasm opened #21 "Announcement: Responding to Quarter pole check-in: (reminder to give feedback)"
Good afternoon @STAT547-UBC-2019-20/students,

Thank you to the students who filed out the [Stop-Start-Continue](https://firasmoosvi.typeform.com/to/KvvsII) survey on how things are going in the class so far. Many of you you haven't done this yet so [please do take a couple of minutes](https://firasmoosvi.typeform.com/to/KvvsII) to do this so things can improve!

Here are some recurring themes (an

[2020-03-07 23:15] #13 closed

[2020-03-07 23:35] dy-lin commented on #20
Just to clarify, so our milestone02 Rmarkdown file for Task 2.4, is using code chunks (like milestone01), which is completely unrelated to the scripts written for 2.1, 2.2 and 2.3?

[2020-03-08 00:01] hanrach opened #22 "Milstone 2 Link Broken"
Hi @STAT547-UBC-2019-20/teaching_team
The link for milestone 2 seems broken, could you upload the instructions again?

[2020-03-08 00:04] firasm commented on #20
@STAT547-UBC-2019-20/students: Update on milestone2

**I have made it clearer online that Task 2.4 is now optional for this week.**

--------------

To answer your question @dy-lin, I wouldn't say it's "completely" unrelated.

Let's say your scripts are:

1. Load data
2. Clean/wrangle the data (load in the raw data you saved from script 1)
3. EDA to export some plots (loading in the cleaned/wrangl

[2020-03-08 00:05] firasm commented on #22
I think you happened to catch it when it was re-compiling/knitting. Link is back up!

[2020-03-08 00:05] #22 closed

[2020-03-08 01:24] hanrach opened #23 "Assignment repo privacy setting"
The assignment repos are set to be private, can the teaching team still view them or do I have add them as contributers?

[2020-03-08 01:25] firasm commented on #23
I set up the repos through GitHub Classroom so it automatically gives the teaching team access.

So all good! Thanks for checking.

[2020-03-08 01:28] #23 closed

[2020-03-08 07:28] almas2019 commented on #20
Hi @firasm , so just to confirm. Based on what I see on the milestone 2, only tasks 2.1-2.3 and task 3 are required. We don't need to a draft report this week(task 2.4)? Is this correct?

[2020-03-08 07:58] firasm commented on #20
Correct!

[2020-03-09 02:23] mksm1228 opened #24 "Assignment errors not appearing on html?"
In section 1.1 theres a part that says "# To check you wrote the unit test properly, this code should throw an error"
**output(1)**

But, when I knit it to html, the error does not appear. Is it supposed to be like this?

[2020-03-09 02:33] firasm commented on #24
It depends on how you have your code chunk set up in RMarkdown.

This is what I see when I try to knit to html:

![Screen Shot 2020-03-08 at 7 30 45 PM](https://user-images.githubusercontent.com/2507459/76178045-51385100-6173-11ea-87cf-da9cd459067e.png)

To reproduce this behaviour, add `error=TRUE` to your code chunk. This will print out the error message and allow the rest of the document to con

[2020-03-09 03:27] mksm1228 commented on #24
Ok thanks Firas!

[2020-03-09 03:27] #24 closed

[2020-03-09 04:48] jacobgerlofs opened #25 "M2 - Code Troubleshooting: converting strings to numbers?"
Hi @firasm

I've been having some issues trying to get my code to work for Milestone 2. Our data has survey responses, and most of the data points are not recorded as numbers but as characters or strings. For instance, a cell will read "4 - neither satisfied or dissatisfied" or "7 - extremely satisfied" rather than just "4" or "7". I've been trying to create a function to change all these data poi

[2020-03-09 04:52] yuliaUU commented on #25
So you need a function?
I was wondering whether just smth more simple will work ? `substr(df$filname, 0, 1)`

[2020-03-09 04:57] firasm commented on #25
@jacobgerlofs I'll try and get to this in more detail tomorrow, but in the meantime let me just point you in the right direction.

There are several ways to do this, but have a look at the [`str_replace`](https://stringr.tidyverse.org/reference/str_replace.html) function from the `stringr` package; it should do what you want it to.

usage:

[code]

The output is...

[2020-03-09 09:13] jacobgerlofs commented on #25
@firasm @yuliaUU Thanks for the quick response!

@firasm I've since tried using the stringr package. Here's where I'm at...
[code]
This totally works! (and it only took me a few hours :upside_down_face: :woman_facepalming: :woman_shrugging:) However, I have many more columns, some of them with different scales. I know there should be a better way to do this with a more efficient function but I hav

[2020-03-09 20:13] jacobgerlofs opened #26 "Merge Conflict Help"
Hi @firasm,

I'm trying to merge my branch to our group's master, and have run into merge conflicts that I'm not sure how to resolve. I've attached a photo of our network, hopefully this can help.

It seems as though the branch I'm working on was not pulled from the most recent merge into the master. This doesn't make sense to me, because I had pulled in my partner's changes - after their merge -

[2020-03-09 21:16] firasm commented on #26
Hi @jacobgerlofs you can stop by my office in ESB 3144 if you need a hand, but from the network, it looks like after you sent a PR, you didn't pull upstream changes your fork's master.

[2020-03-09 22:21] #26 closed

[2020-03-10 06:20] #20 closed

[2020-03-10 06:21] #7 closed

[2020-03-10 06:21] #10 closed

[2020-03-10 06:21] #16 closed

[2020-03-10 06:21] #18 closed

[2020-03-10 06:21] #6 closed

[2020-03-10 06:22] firasm commented on #12
I think we resolved this in person right @mksm1228 ?

[2020-03-10 06:22] #12 closed

[2020-03-10 15:49] firasm opened #27 "Assignment 3: Peer Review Groups"
Assignment 3 is a peer review assignment.

Here are the assignments for the group you need to review:

| Student | Group assigned for review |
| ------- | ------------------------- |
| Nima Jamshidi | 8 |
| Diana Lin | 5 |
| Rachel Han | 3 |
| Marion Nyberg | 1 |
| Sihaoyu Gao | 10 |
| Martin Keung | 6 |
| Anh Le | 8 |
| Eve Wicksteed | 1 |
| Iciar Fernandez Boyano | 4 |
| Jake Gerlofs | 7 |
| Sae

[2020-03-10 17:55] firasm opened #28 "STAT 547 cm106: Remote participation test"
@STAT547-UBC-2019-20/students: Related to what I'm just talking about in lecture now, here are the instructions to join a Zoom class.

### Join Zoom Meeting
https://us04web.zoom.us/j/963099511?pwd=YWFrUTBzQU5ucVkyN0RLUVBtQUtRUT09

### Meeting ID: 963 099 511
Password: 884356

### One tap mobile
,,963099511# US Toll

### Meeting ID: 963 099 511
Find your local number: https://us04web.zoom.us/u/fblG

[2020-03-10 18:17] #28 closed

[2020-03-10 18:39] firasm opened #29 "no make on macOS"
run this in a command line

`xcode-select --install`

[2020-03-11 04:42] firasm commented on #29
@jacobgerlofs let me know if installing Xcode fixed the problem here...

[2020-03-11 05:16] jacobgerlofs commented on #29
@firasm Thanks for following up - yes, re-installing worked!

[2020-03-11 05:25] #29 closed

[2020-03-12 17:45] firasm opened #30 "cm106: (today’s class) Clone demo_project before class starts"
Good morning @STAT547-UBC-2019-20/students! As I mentioned @hfboyce will be giving the lecture today on parametrized RMarkdown reports.

In an attempt to follow along, it would be a good idea to clone the demo_project to a temporary directory on your computer while you try some of the demos.

Here’s a link to the demo project again (Compared to cm105, we made a few small updates to make the demos

[2020-03-12 22:54] HJMcSorley commented on #27
@firasm I cannot locate a repo for Group-13 (the group I'm assigned for peer review). Can you assist?

[2020-03-12 22:59] firasm commented on #27
@HJMcSorley I've given you access for now, but to fix the underlying issue - @Farnaz1234 and @racquellem you'll need to make your repo public (and re-associate your forks). See [here](https://github.com/STAT547-UBC-2019-20/Discussions/issues/18#issuecomment-595576761) how to do that.

[2020-03-12 22:59] yuliaUU commented on #27
@HJMcSorley their group is private: I added

[2020-03-13 00:12] HJMcSorley commented on #27
got it thanks

[2020-03-13 19:08] mksm1228 opened #31 "Draft final report for milestone 02"
Hello @firasm,

Assignment 3 asks us to look read through the final report but I thought this milestone 2 task was moved to milestone 3? Can I assume that we do not need to see if a draft final report was produced for Assignment 3?

[2020-03-13 19:43] firasm commented on #31
Yes - that is a very good point. I guess just make sure the final report (if there is one) compiles? and if it's not there it's N/A.

Thanks!

[2020-03-13 23:09] firasm opened #32 "Class meetings moving online starting Tuesday #flattenthecurve"
Good afternoon @STAT547-UBC-2019-20/students,

Due to the ongoing (legitimate) concerns around limiting the spread of COVID-19, most classes should be moving to online instruction.

This will also apply to STAT 547 - I am still trying to work out the best way to deliver lectures online, but for the meantime, we will (most likely) use zoom.us and I will share my screen - I encourage you to download

[2020-03-15 06:03] dy-lin opened #33 "Assignment 4 release"
@firasm Is it possible to release assignment 4 early as it does not rely on assignment 3 solutions being released?

[2020-03-15 19:58] mksm1228 opened #34 "Assignment 3 feedback on readme?"
Hi @firasm,

For assignment 3, it says **"Provide a link to this issue in the readme and submit a link to the issue on Canvas."**

Do I update the README of the group I am providing feedback to with the link to my feedback? Just trying to make sure if I am allowed to alter the group's README.

Best,
Martin

[2020-03-15 19:59] mksm1228 commented on #34
Nevermind, realized it should be the readme for Assignment 3 repo.

[2020-03-15 19:59] #34 closed

[2020-03-16 02:36] Deni678 commented on #32
@firasm The extended grace period applies to Milestone 3 as well, right?

[2020-03-16 02:38] firasm commented on #32
Yes.

[2020-03-16 02:44] firasm commented on #33
Sure - I'll try and get to it tonight!

If you'd like to read ahead, we'll be following the multi-step tutorial [here](https://dashr.plot.ly) for the next week and a bit.

[2020-03-16 03:04] Deni678 commented on #32
Thank you!

[2020-03-16 03:19] firasm opened #35 "Preparing to create Dashboards using Plotly Dash"
Hello @STAT547-UBC-2019-20/students,

In an attempt to reduce technical problems related to system environments, I wanted to send some instructions on how to get your machines setup with the packages and libraries needed to create dashboards.

Here is a walkthrough:

--------------

## Step 1: Install packages:

First, load the devtools library:

[code]

In Studio or an R console, install the foll

[2020-03-16 03:20] #31 closed

[2020-03-16 03:20] #30 closed

[2020-03-16 06:52] dy-lin commented on #32
@firasm are Zoom lectures available for (re-)viewing later on, or are they only live?

[2020-03-16 08:13] firasm commented on #32
I will try to record them, and then later post them, but I make no guarantees if this will works and not to mention the quality!

[2020-03-16 08:14] firasm commented on #33
You can have a look at it [here](https://stat545.stat.ubc.ca/evaluation/assignment_04/assignment_04/). Still working on tweaks it a bit.

[2020-03-16 16:52] luckymeng7 commented on #35
For anyone who is encountering similar issue as "error: could not find function install_github", remember to send `library("devtools")` in R console before `install_github`

[2020-03-16 16:54] dy-lin commented on #35
Using `devtools::install_github()` should work too!

[2020-03-16 17:18] firasm commented on #35
Thanks, added that step above!

[2020-03-16 18:45] dy-lin opened #36 "inline R code"
In milestone 03:

Since only the images from the exploratory data analysis are being added (and R code), is it okay to have values from the exploratory analysis hardcoded?

@firasm

[2020-03-16 18:53] firasm commented on #36
Hmmm no, I'd like you to export things as a csv or RDS/RDA file, load it in, and reference it using in-line R code or a code chunk.

I encourage you NOT to duplicate code between your EDA file and your final report. That way if you make any changes, you'll have to do it in two places.

If you give me an example of what you're trying to include in the report I can give you more specific advice!

[2020-03-16 21:12] dy-lin commented on #36
Ahh okay! I was just wondering if the inline R code only applied to the statistical analysis/linear regression or if applied to exploratory data analysis too.

[2020-03-17 04:45] #36 closed

[2020-03-17 04:45] #33 closed

[2020-03-17 07:28] firasm opened #37 "Zoom Meeting details for Tuesday lectures: cm107, cm109, and cm111"
@STAT547-UBC-2019-20/students Below are the Zoom meeting details for Tuesday lectures.

I've started the meeting from 10:30 AM in case you want to arrive a few mins earlier to try things out.

You will need the meeting password (972838)

## Disclaimer

Zoom is hosted on servers in the U.S. This includes recordings done through Zoom.
If you have privacy concerns about your data: a) provide only you

[2020-03-17 15:36] mksm1228 commented on #35
Hey @firasm,

Im getting this error when I try to install dash....

HTTP error 403.
  API rate limit exceeded for 172.103.164.95. (But here's the good news: Authenticated requests get a higher rate limit. Check out the documentation for more details.)

  Rate limit remaining: 0/60
  Rate limit reset at: 2020-03-17 16:22:35 UTC

  To increase your GitHub API rate limit
  - Use `usethis::browse_gith

[2020-03-17 15:40] yuliaUU commented on #35
@mksm1228 I found the following  on the wed:
Where similar problem was solved by setting the environmental variable GITHUB_PAT on the repository-settings on travis. For details see https://github.com/forestgeo/learn/issues/148.

And [here](https://github.com/dynverse/dyno/issues/32) they give step by step instructions how to get token and set it as path

[2020-03-17 15:45] firasm commented on #35
@mksm1228 You can follow the steps as Yulia describes, but it may be easier to follow the steps from the error message (it will do the same thing in the end):

- Run `usethis::browse_github_pat()` in an R console (it will take you to GitHub.com to authenticate and create a token. once you create it, copy it to clipboard.
- Then run `usethis::edit_r_environ()`  and add the token as `GITHUB_PAT

Let

[2020-03-17 17:49] mksm1228 commented on #35
@firasm

Yep it works!

[2020-03-17 18:51] Nima-Jamshidi commented on #37
Hi Firas,
I have lost the connection to the zoom meeting. I tried again to get in the meeting and it says the host should let me in. Could you please do that?

[2020-03-17 21:27] firasm commented on #21
@STAT547-UBC-2019-20/students We survived the first virtual meeting of STAT547!

I'll just admit that I'm struggling to get the lecture notes up on the guidebook a day or two before class. Things are crazier than usual, I'll keep trying my best but I'll likely not be able to hold up my end of the bargain there - sorry!

Other than that, how was the online format? Is Zoom okay? Did people experienc

[2020-03-17 21:27] luckymeng7 opened #38 "Cannot update the app.R file online"
Hi Firas,

At the end of my app.R file, I used "app$run_server(debug = TRUE)" to be able to modify the app.R when the rscript is running. However, I still have the error to save the file as "The process cannot access the file because it is being used by another process"

Do you know where could possibly be wrong on my system?

Thanks,
Monica

[2020-03-17 21:28] firasm commented on #38
Hmm - could it be you have another RStudio session open with `Rscript app.R` running there? Or perhaps a terminal?

I suggest restarting RStudio and if that doesn't fix it, then your computer.

[2020-03-17 21:34] yuliaUU commented on #38
Or may be you did not press save to save app.R?

[2020-03-17 22:22] luckymeng7 commented on #38
Thanks for the replies. However, I power cycled my laptop and it was still the same, the error message showed up when I hit `ctrl + s` or `save`. Should I modify the code after I do `Rscript app.R` and before `ctrl +c` ?

[2020-03-17 22:40] firasm commented on #38
yes, assuming you have debug=TRUE, you can launch the app (Rscript app.R), then update the app.R file, and it will show you the recycle emoji and the text in cyan, and then update.

<img width="1777" alt="Screen Shot 2020-03-17 at 3 39 39 PM" src="https://user-images.githubusercontent.com/2507459/76908281-86c0f680-6865-11ea-91a4-01de845f4101.png">

Can you take a screenshot of what you see?

[2020-03-17 22:43] carleenaortega opened #39 "makefile repeats outputs"
running make all repeats the EDA and the knit based on the number of targets. We've tried running just one target but it also runs all the other targets in that script..how can we get around this?

[2020-03-17 22:46] dy-lin commented on #33
@firasm I see on the [webpage](https://stat545.stat.ubc.ca/evaluation/assignment_04/assignment_04/) it still says:

Has it been finalized now that it's Tuesday?

[2020-03-17 22:47] firasm commented on #33
Yes :-) all good now! I'll take that notice off

[2020-03-17 23:09] firasm commented on #39
Can you point me to your Makefile ? I'll try to have a look at it tonight

[2020-03-17 23:40] dy-lin opened #40 "milestone04 clarification"
vs.

Which word count is it?

Additionally, I cannot view the example sketch on the [webpage](https://stat545.stat.ubc.ca/evaluation/milestone_04/milestone_04/).

[2020-03-18 00:43] dy-lin opened #41 "Assignment 4 clarification"
When you say 'add a markdown component', does this mean we can only use one single `dccMarkdown()` all together, or can we put each (link, bolded, italic, etc) in multiple separate `dccMarkdown()` calls in the list?

[2020-03-18 00:55] yuliaUU commented on #41
I think what it means is : you can borrow a *text* from that [link given]() , you can then  apply different **markdown features** like I show in my example in my reply

## You  can do it wherever you want or how you want

[2020-03-18 02:06] firasm commented on #41
Hey @dy-lin ,

Ideally one dccMarkdown component with all those features but I guess it doesn’t really matter as long as you demonstrate proficiency with the markdown component.

[2020-03-18 03:52] luckymeng7 commented on #38
Hi Firas,

Here is the screenshot of what I see after I add a `!` to app.R and trying to save the file
![image](https://user-images.githubusercontent.com/19479517/76923598-17f99280-6891-11ea-8aec-741d168fe000.png)

Thanks

[2020-03-18 03:55] firasm commented on #38
Could you see if [this response](https://community.rstudio.com/t/error-saving-script-files/5509/2?u=firas_moosvi) is of any help?

Are your files on Dropbox or a sync drive?

[2020-03-18 05:38] luckymeng7 commented on #38
Right, this might be an issue. I have it on my dropbox and I did see this often not only editing it online for dash.

But sadly, when I pause the dropbox sync and move this single script to my desktop, it's still not working...

![image](https://user-images.githubusercontent.com/19479517/76928836-df14ea00-689f-11ea-9a81-ef54e3ec5272.png)

[2020-03-18 05:43] firasm commented on #38
I imagine you restarted RStudio and R ?

Can you try running that from the command prompt or gitbash/powershell ?That might lead to a whole host of other problems.

I guess the workaround is to remove debug=TRUE and Ctrl+C and re-run every time you want to update the app? This is frustrating sorry! Maybe in office hours on Thursday I can have another look at it.

[2020-03-19 04:57] #41 closed

[2020-03-19 04:58] firasm commented on #40
Thanks - It's 300 words!

I bumped it up to give you some extra space but keep in mind this is just an estimate.

Fixed appSketch

![AppSketch](https://user-images.githubusercontent.com/2507459/77034437-3fbb2a00-6967-11ea-810a-8ae70151691b.png)

[2020-03-19 16:27] luckymeng7 commented on #38
Hi Firas,

I tried to run it from my PowerShell and but it was still showing the same error message if I edit the file in Rstudio. However, if I modify the script in Notepad++, the updating works when running in both Rstudio and PowerShell.

Looks like there might be some platform issue in my Rstudio. Thanks for your help!

[2020-03-19 16:56] yuliaUU commented on #38
Hi!I had that issue too: on my computer, the following steps helped  1. go to terminal and press ctrl+C; 2. `rscript app.R` and then run the `rstudioapi::viewer("http://127.0.0.1:8050") in console`

[2020-03-19 16:58] firasm commented on #38
Okay, I'd try updating RStudio and see if that solves the issue

[2020-03-19 17:11] mksm1228 commented on #39
@firasm

@Sihaoyu1220 and I were also having the same problem when we type in ```make all``` in the terminal...

https://github.com/STAT547-UBC-2019-20/group_3_mksm1228_sihaoyu1220/blob/master/Makefile

[2020-03-19 17:29] #40 closed

[2020-03-19 17:30] dy-lin commented on #37
@firasm Today's class will me cm108. Are there different Zoom details for today?

[2020-03-19 17:33] firasm opened #42 "Zoom Meeting Details for cm108 and cm110 and cm112 (Thursdays)"
Hi @STAT547-UBC-2019-20/students,

## Disclaimer

Zoom is hosted on servers in the U.S. This includes recordings done through Zoom.
If you have privacy concerns about your data: a) provide only your first name or a nickname when you join a session and b) keep your camera off and microphone muted.
We will be recording these sessions but the recordings will not be distributed.

## Meeting info

here

[2020-03-19 17:34] firasm commented on #37
@dy-lin yes, thanks - just posted in #42

[2020-03-19 18:49] carleenaortega commented on #39
Hi @firasm, here's the link to our makefile: https://github.com/STAT547-UBC-2019-20/group_06/blob/master/Milestone_3/Makefile

Thanks!

[2020-03-19 20:24] yuliaUU commented on #39
what happens if you switch all and clean? will it still run twice?

[2020-03-19 20:31] yuliaUU commented on #39
you can also try;
`all : foo.pdf foo.html
    echo All files are now up to date

clean: ....

%.html : %.Rmd
    Rscript -e 'rmarkdown::render("$<")'

%.pdf : %.Rmd
    Rscript -e 'rmarkdown::render("$<")'`

[2020-03-20 07:01] luckymeng7 opened #43 "Add the assignment 4 and milestone 4 on Canvas"
Hi @firasm

Could you add the assign 4 and milestone 4 on canvas?

Thanks

[2020-03-20 16:38] firasm opened #44 "Today's Office hours"
Good morning @STAT547-UBC-2019-20/students ,

Just a reminder about the office hours this morning:

- Yulia 10 AM -11 AM
- Matthew 11 AM -12 PM

## Meeting Details

https://us04web.zoom.us/j/734538908?pwd=ZFpiSzN4QXplUGF1WXM3NXpnanR6dz09

[2020-03-20 16:40] yuliaUU commented on #43
all posted!

[2020-03-20 16:40] firasm commented on #43
Thanks @luckymeng7 !

[2020-03-20 16:40] #43 closed

[2020-03-20 19:58] matthewconnell commented on #39
@carleenaortega

I got yours to work without repeating by specifying the folder for each file. For example, you had

`all : final_report.html final_report.pdf`

I changed it to

`all : docs/final_report.html docs/final_report.pdf`

but for every file and it seemed to work. Let me know if that helps.

[2020-03-20 20:11] #44 closed

[2020-03-21 00:59] evelynjulia opened #45 "assignment 4 static image ?"
Hi, could you please send a link / resource where we can learn how to embed a static image for assignment 4? We haven't covered this is class and I can't seem to find info online about how to do it.

[2020-03-21 01:08] firasm commented on #45
Oh sure, here are some instructions:

## Method 1

1. Add an image to a folder called `img`, say `test.png`

2. To add the image you need to add this code:

[code]
## Method 2 (for more control over width and height)

1. Add an image to a folder called `img`, say `test.png`

2. To add the image, use a standard HTML tag:

[code]
Other options [shown here](http://zevross.com/blog/2017/06/19/tips-and

[2020-03-21 03:20] #35 closed

[2020-03-21 03:21] #27 closed

[2020-03-21 03:21] #25 closed

[2020-03-21 03:21] #32 closed

[2020-03-21 03:23] firasm commented on #38
@Nima-Jamshidi was also having this issue. Let me know if it's resolved or if you found a workaround. I wasn't able to find anything concrete about it online...

[2020-03-21 03:39] mnybe1 opened #46 "Download guidebook as pdf?"
Hey Firas, just tried to download the class notes/guidebook from https://stat545guidebook.netlify.com/ as a pdf so I can access some class material when I don't have internet, but the download link on the top toolbar doesn't seem to work. Would it be possible to make this download-able?
Thanks

[2020-03-21 04:03] firasm commented on #46
Hmm - I didn't even know that existed. I have had bad experiences converting Rmd files to PDFs as it warps all the formatting of the code chunks and tables. I'll try to look into it if I get a chance this weekend.

In the meantime, the guidebook is actually a GitHub repo [here](https://github.com/STAT545-UBC/Classroom) so I encourage you to clone it on your computer just so you at least have the R

[2020-03-21 04:58] mnybe1 commented on #46
Ok cool, thanks!

[2020-03-21 04:58] #46 closed

[2020-03-21 05:42] SaelinB opened #47 "dccSlider acting weird"
Hi,

I'm trying to insert a slider into app.R, and keep getting this message even when I copy simple online examples:
Invalid argument 'marks' passed into Slider.
Expected an object.
Was supplied type 'array'.

To see what was happening, I made new script and pasted the exact code from [here](https://dashr.plot.ly/getting-started) (last chunk at the bottom with slider), and it ran fine, even when

[2020-03-21 05:49] HJMcSorley opened #48 "how to submit Teamwork Document?"
Hello @firasm @yuliaUU
How should we submit the [TeamWork Document](https://stat545.stat.ubc.ca/evaluation/teamwork/)?

Thanks!

[2020-03-21 05:49] dy-lin commented on #47
I had a similar issue-- I was able to get around it by assigning `marks` to a named list like here:
[code]

The name corresponds to a numerical 'step' as a string.

I took the above code and text snippet from the dccSlider [documentation](https://dashr.plot.ly/dash-core-components/slider).

[2020-03-21 05:50] dy-lin commented on #48
I think you just submit it as you would assignment04 since it's in the assignment04 repository (i.e. it will be part of your tagged release)

[2020-03-21 05:55] firasm commented on #48
Yep, I’ve included a template teamwork doc in the A4 repo so just update it in the repo and the right TA will find it.

[2020-03-21 05:59] HJMcSorley commented on #48
Excellent! Thanks 👍

[2020-03-21 07:26] firasm commented on #47
Thanks @SaelinB for pointing this out, and for the workaround @dy-lin.

I have reported the bug to [dashR here as an issue](https://github.com/plotly/dashR/issues/187).

In the meantime, looks like you need to specify the marks as a list as above.

[2020-03-22 00:50] mksm1228 opened #49 "dccGraph only accepts plotly?"
I am trying to complete task 2.5 using only ggplot but it seems like this is not possible? Is it true that dccGraph only "accepts" plotly graphs (which are just "enhanced" ggplot2 graphs) and not standard ggplot2 graphs?

[2020-03-22 02:24] firasm commented on #49
Correct - you need to surround ggplot2 objects with "ggplotly()" in order for the plots to work in Dash. This is because ggplot graphs are not interactive by default.

I think you might be mis-reading the instructions, you are meant to use ggplotly, I guess I laid it out as I did because they are "steps" to the final thing you need to arrive at.

[2020-03-22 02:44] mksm1228 commented on #49
Thanks @firasm for the clarification!

[2020-03-22 02:46] mksm1228 commented on #39
Hi,

We have written the make all command in the format @matthewconnell suggested, but the makefile still appears to be downloading the .csv data 3 times. Are there any other fixes?

[2020-03-22 04:08] SaelinB opened #50 "EDA_script.R runs multiple times with makefile"
Hello,

When running 'make all',  our makefile  runs each script once for each target of the script. For our EDA_script, we have 12 targets, so it runs 12 times.

I tried specifying only 1 target of the EDA_script.R (as running once would make all of them anyways), but all of these 12 targets are then dependencies in our knit_final.R, and 'make all' gives an error that there is no rule to make the

[2020-03-22 06:12] firasm commented on #50
Hi @SaelinB and @carleenaortega : It looks like [this solution](https://github.com/STAT547-UBC-2019-20/Discussions/issues/39#issuecomment-601885850) from issue #39 by Matthew should fix your issue - have you tried it?

I have also tried it and can confirm this works.

<img width="1008" alt="Screen Shot 2020-03-21 at 11 10 29 PM" src="https://user-images.githubusercontent.com/2507459/77243604-33cea

[2020-03-22 06:18] firasm commented on #39
Hi @mksm1228 - for your group's makefile, it looks like you have the .csv files specified as targets for three separate rules (line 18, 22, and 30).

Is that intentional? if so, they will get downloaded each time

<img width="549" alt="Screen Shot 2020-03-21 at 11 16 48 PM" src="https://user-images.githubusercontent.com/2507459/77243677-1221eb00-6bca-11ea-8e81-0b48881a5c6e.png">

[2020-03-22 19:38] jimmyliu1326 commented on #45
@firasm

Method 1 didn't seem to work for me. I have created a `images` directory with `image.jpg` and in my `app.R`, I added the following code:
[code]

The image still does not render when I run app.R

[2020-03-22 20:06] yuliaUU commented on #45
I wonder if you can try a picture in .png format? I think that maybe the issue

[2020-03-22 20:06] firasm commented on #45
hi @jimmyliu1326 - sorry, I think I misunderstood the question as for `milestone04` rather than `assignment04`. The instructions above are for embedding an image into an Rmd file (for the screenshot of your dashboard proposal).

## Method 1: Using `htmlImg`

For including images in a Dash app, use the html component: `htmlImg`

Add this in the list of divs:

[code]

## Method 2: Using `dccMarkdown

[2020-03-22 20:08] yuliaUU commented on #45
I managed the `dccMarkdown("![](url to image .png)")` work, it just can be done to only some of the images available online

[2020-03-22 20:37] jimmyliu1326 commented on #45
Great, specifying image urls did the trick! I tried both .png and .jpg images and they both seem to work. Thanks!

[2020-03-23 04:22] dy-lin commented on #40
Is it 300 words for Description, and 300 for usage scenario? or 300 combined?

[2020-03-23 04:25] firasm commented on #40
300 combined - again rough guideline so if you need a bit more, that's fine.

[2020-03-23 05:12] SaelinB commented on #50
@firasm great that works, thank you!

[2020-03-23 18:08] carleenaortega commented on #45
I did both methods (htmlImg and dccMarkdown) to add an image in the list of divs but it doesn't work for me.
![Screen Shot 2020-03-23 at 11 07 59 AM](https://user-images.githubusercontent.com/54973786/77348368-907bab80-6cf6-11ea-9cc6-83f008df5387.png)

[2020-03-23 18:10] firasm commented on #45
Was there an error message? Can you post the image URL as code here too (rather than as a screenshot)?

[2020-03-23 18:10] yuliaUU commented on #45
@carleenaortega  can you copy a link here so I can try

[2020-03-23 18:20] carleenaortega commented on #45
here's the link @yuliaUU: https://github.com/STAT547-UBC-2019-20/assignment-04-carleenaortega/blob/master/app.R

[2020-03-23 18:38] yuliaUU commented on #45
@carleenaortega
I am checking your way of doing it,
I wonder if this one will work:
if you replace it with
[code]

[2020-03-23 19:13] #49 closed

[2020-03-23 19:17] mksm1228 opened #51 "graph components using ggplotly"
Hi @firasm,

For assignment 4, one of the tasks is to add 2 graph components using the ggplotly objects we created. It's a dumb question, but is this task asking us to simply add color, theme, titles etc using ggplot2?

[2020-03-23 19:20] carleenaortega commented on #45
it wasn't allowing me to enter an r chunk so i just added "include_graphics(img1_path)" but it still did not work..

[2020-03-23 19:21] firasm commented on #51
oh - no, that's not what is intended. Simpler than that:

A ggplotly object is input into a dccGraph component --> this is one component. You have to do this twice (so two plots, and two components):

[2020-03-23 19:34] mksm1228 commented on #51
Oh, thanks, I am overthinking things. Thanks!

[2020-03-23 19:56] yuliaUU commented on #45
@carleenaortega  link was wrong!
dccMarkdown("
      ![]   (https://upload.wikimedia.org/wikipedia/commons/thumb/7/76/2002-08_Koi_in_pond.jpg/1280px-2002-08_Koi_in_pond.jpg)
                  ")

you need to press on the picture and right-click to choose copy image address, you copied url of the website, not image

Note: I added extra space between [] and () so you can see the code

worked for me!

[2020-03-23 20:44] carleenaortega commented on #45
thanks! did the same thing and it worked!

[2020-03-23 21:41] #51 closed

[2020-03-24 00:06] #50 closed

[2020-03-24 03:28] almas2019 commented on #47
Hi everyone,
I don't know if this is okay to post @firasm .:
If you are having trouble, Diana above mentioned creating a named list.  See here for this:
https://stackoverflow.com/questions/39059295/convert-list-to-named-list-in-r
Basically the steps are the names of the list and the labels are the list members.(in this case 3 is the name and "3 °F" is the list item.

[2020-03-24 05:13] hanrach opened #52 "running code from terminal packages error"
I'm getting an error when I call my script from the command line, and I did not get it before. I think this is happening after I updated my R.
After running `make data/mydata.csv` it gives me `Error in library(docopt) : there is no package called ‘docopt’`.
Also happens for other packages too. I know for sure that these packages are installed, some how from the terminal it can't find it. How do I

[2020-03-24 05:16] firasm commented on #52
There could be two problems:

1) you have multiple versions of R installed (in this case, delete the old one and things should fix).

2) You may need to update where the terminal is looking for packages.

Here are some instructions (from Professor Tiffany Timbers) that may help:

-------------------------------------------
Make Rscript see the correct directory to load libraries:

1. Open RStudio

[2020-03-24 05:44] carleenaortega commented on #39
I did @matthewconnell's suggestion and it worked! Thank you!!

[2020-03-24 05:51] firasm commented on #39
How about you @mksm1228 ? Is your issue solved too ?

[2020-03-24 05:55] hanrach commented on #52
After saving the .Renviron file, and loading libraries like `tidyverse`
`Rscript -e "library(tidyverse)`
I get the following error:
[code]
I think I only have one version of R installed because if I navigate to `/Library/Frameworks/R.framework/Versions/` there is only one version 3.6.

[2020-03-24 06:04] mksm1228 commented on #39
Yep resolved! Thanks!

Get Outlook for Android<https://aka.ms/ghei36>
________________________________
From: Firas Moosvi <notifications@github.com>
Sent: Monday, March 23, 2020 10:51:57 PM
To: STAT547-UBC-2019-20/Discussions <Discussions@noreply.github.com>
Cc: Martin Keung <herrotiga@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [STAT547-UBC-2019-20/Discussions] makefile repeats

[2020-03-24 06:10] hanrach commented on #52
Actually after using Terminal instead of iTerm2(mac terminal replacement), it's working. I'm not sure why. Thanks!

[2020-03-24 06:10] #52 closed

[2020-03-24 07:41] #39 closed

[2020-03-24 17:50] firasm commented on #37
@STAT547-UBC-2019-20/students : Zoom link for today's class is above! let me know if things don't work.

[2020-03-24 17:55] HJMcSorley commented on #37
Hi @firasm The link to zoom tells me "The host has another meeting in progress"

[2020-03-24 17:57] firasm commented on #37
Hmm - that's odd - a few people are already in the zoom session.

[2020-03-24 17:57] dy-lin commented on #37
I was able to get in using the Meeting ID and password (didn't try the link though)

[2020-03-24 17:58] firasm commented on #37
I just tried this link on my phone and it worked: https://us04web.zoom.us/j/133579135?pwd=ODNOazBGSU9Jay9jYi9SNUR1aEMwUT09

[2020-03-24 18:00] HJMcSorley commented on #37
Thanks @dy-lin, I got in with the password and code 👍

[2020-03-24 18:01] almas2019 commented on #37
Hi Firas,
I can't join the meeting either. it says meeting in progress

On Mar. 24, 2020 10:59 a.m., Firas Moosvi <notifications@github.com> wrote:

I just tried this link on my phone and it worked: https://us04web.zoom.us/j/133579135?pwd=ODNOazBGSU9Jay9jYi9SNUR1aEMwUT09

—
You are receiving this because you are on a team that was mentioned.
Reply to this email directly, view it on GitHub<https://

[2020-03-24 18:11] yuliaUU commented on #37
You the log in info (the one with code and password)

On Tue., Mar. 24, 2020, 11:07 a.m. almas2019, <notifications@github.com>
wrote:

[2020-03-24 21:46] firasm opened #53 "`continent_colours` in app.R"
hey @STAT547-UBC-2019-20/students,

To answer the question a few people had about where `continent_colors` came from in this ggplot code:

[code]

The vector `continent_colors` is actually something that gets loaded in when you load the `gapminder` dataset.

See below:
![Screen Shot 2020-03-24 at 2 43 30 PM](https://user-images.githubusercontent.com/2507459/77479870-d8293280-6ddd-11ea-8466-506e4d1

[2020-03-24 22:56] #48 closed

[2020-03-24 23:06] dy-lin commented on #53
There doesn't seem to be a significant difference if you omit `scale_color_manual(name="Continent", values=continent_colors)` since `colour=continent` is already an `aes` in `ggplot()`. Does the extra `scale_color_manual` just pick the specific colours to those in `continent_colors`?

[2020-03-24 23:20] firasm commented on #53
Yep those hex codes above encode each continent to a particular colour. For e.g., `#7f3b08` [is a medium dark shade of orange](https://encycolorpedia.com/7f3b08).

Documentation [here](https://ggplot2.tidyverse.org/reference/scale_manual.html)

[2020-03-26 00:11] firasm opened #54 "Zoom session for Friday Office hours"
Hey folks, here is the Zoom session details for Friday's office hours from 10 AM - 12 PM.

## Zoom Session details

Firas Moosvi is inviting you to a scheduled Zoom meeting.

Topic: STAT 547 TA Office Hours
Time: Mar 27, 2020 10:00 AM Vancouver
        Every week on Fri, 2 occurrence(s)
        Mar 27, 2020 10:00 AM
        Apr 3, 2020 10:00 AM
Please download and import the following iCalendar (.

[2020-03-26 01:39] dy-lin opened #55 "corrplot & plotly"
@firasm, is there an easy/straightforward way to convert a `corrplot` plot into a `ggplot` so that I can use `ggplotly()`? Would using a package like `ggcorrplot` work?

[2020-03-26 03:09] firasm commented on #55
Hmmm good question! It would depend if the object that is being used is a ggplot object or a baseR object (or something else. If it's a ggplot object, it *should* work, but I'll be honest and say I haven't tested it.

If you can give me a minimal working example, I can give it a go and see if I can get it to work?

Another option of course, is to do a correlation plot using straight ggplot like [h

[2020-03-26 03:13] dy-lin commented on #55
Thank you! It ended up working for `ggcorrplot`, just for some reason doesn't work when `method = "circle"` (only works for `method = "square"`).

[2020-03-26 03:13] #55 closed

[2020-03-26 17:13] firasm commented on #42
@STAT547-UBC-2019-20/students : Today's Zoom meeting details above.

[2020-03-26 17:39] yuliaUU opened #56 "Reminder about assignments"
Just want to remind couple things about your assignments:
- unless specified, you always submit an URL to **tag release**
- if you are working with `Rmd` file, don't forget to knit it to viewable format: such as `pdf`/ `md`/ `html`
- If you provide `html` , please make it viewable and post a link in README file

Here are instructions on how to do that on our website: https://stat545.stat.ubc.ca/ev

[2020-03-26 20:45] HJMcSorley commented on #56
Is it correct that the lowest of our assignment grades will be dropped?

[2020-03-26 20:50] yuliaUU commented on #56
yep!! correct!

[2020-03-26 20:58] HJMcSorley commented on #56
Great! Thanks!

[2020-03-26 23:58] dy-lin opened #57 "switch/toggle"
I'm looking for an 'on and off' toggle. or switch dash component, but can't seem to find one. I've tried using the checklist but it doesn't seem to work.

is there something else part of DashR that can be imported for this feature?

[2020-03-27 00:03] yuliaUU commented on #57
[this one](https://dash.plotly.com/dash-daq/toggleswitch)?

you probably need to modify the syntax a bit, cause this one is for Python

[2020-03-27 00:06] yuliaUU commented on #57
found for R , [here](https://dashr.plotly.com/dash-daq/toggleswitch)
but you will need extra library `library(dashDaq)`

[2020-03-27 02:12] dy-lin commented on #57
Thank you! So much of the documentation is written for Python :(

[2020-03-27 03:25] yuliaUU commented on #57
I know! I also struggle to find examples done in R:/

[2020-03-27 03:30] firasm commented on #57
I think the issue here is that if you google things, the python version came "first" so all the search results are for it. R came more recently, but it is at feature-parity so all the same features are present.

One tip: if you find documentation for python at: https://dash.plotly.com, there is an equivalent website for at https://dashR.plotly.com (notice the R).

So the DAQ for python is at: http

[2020-03-27 03:31] firasm commented on #38
@Nima-Jamshidi I think Yulia said she solved your issue today - could you share the solution so @luckymeng7 can also apply it ?

[2020-03-27 03:31] #45 closed

[2020-03-27 03:52] yuliaUU commented on #38
@luckymeng7  if you want, we can have a short zoom call!

[2020-03-27 05:27] dy-lin commented on #57
Thanks! In case anyone else is looking into toggles, I actually ended up using a [`daqBooleanSwitch`](https://dashr.plotly.com/dash-daq/booleanswitch)!

[2020-03-27 06:37] Nima-Jamshidi commented on #38
@firasm Yes, thankfully @yuliaUU showed a way around the problem. I just wanted to try it again before sharing it with @luckymeng7 that I found even an easier and more straightforward solution.
@yuliaUU 's solution: On the main rscript (app.R), next to the save button (on the ribbon that you usually find the knit button) there is a "Source on Save" option that you need to check. Afterward, all you

[2020-03-27 06:40] dy-lin opened #58 "radio item display"
my radio buttons seems to inline by default, despite not having the `labelStyle = list("display" = "inline-block")` enabled... did anyone else run into this problem, and know how to separate them each on one line?

[2020-03-27 06:45] yuliaUU commented on #38
But I thought Sourve you have to press everytime you want to reload the app. While source on save automatically reload the app after you press save button to save the changes written in the script.

[2020-03-27 06:59] Nima-Jamshidi commented on #38
Not based on a few tries I have done so far.
What I found is that the Source on Save approach behaves a little odd, especially if I change sth on another file that is sourced in the main file. Sometimes hitting Save on the secondary file would prompt the software to show the modification on the html page. But sometimes I need to stop the console and after that console would rerun the script by its

[2020-03-27 07:27] yuliaUU commented on #58
`app <- Dash$new(external_stylesheets = "https://codepen.io/chriddyp/pen/bWLwgP.css")`

The example they used in that website used external style. So I read the issue is because you need to apply that CSS style format

[Here is the link](https://community.plotly.com/t/display-checklist-radioitems-as-a-block/5065)

[2020-03-27 07:52] yuliaUU commented on #38
Oh! Interesting! Will try it on mine tomorrow!

[2020-03-27 17:20] luckymeng7 commented on #38
Hi @yuliaUU and @Nima-Jamshidi ,

Thanks for sharing your solutions. I tried to check "source on save", unfortunately, it's not working for me. Let me know if I missed anything. And I'm good to call anytime after 8pm today.

My current workaround is to use Notepad++ to modify the script while keep the script running in Rscript or powershell.

[2020-03-27 17:59] yuliaUU commented on #38
@luckymeng7  are you available for a quick zoom call at 12pm?

[2020-03-27 19:09] dy-lin opened #59 "reset button"
How do you write the function in an `app$callback` so that a property of a component is reset/changed?

In my case, I was able to write the callbacks to reset all graphs to their default values using a `dccButton`, however, I see that all dropdown menus/radio items are still at their last 'user set' option. How do I reset those values back to the default as well?

[code]

[code]

The issue I'm fac

[2020-03-28 04:41] jimmyliu1326 opened #60 "Printing clickData"
Since nothing gets stored in the environment when we launch app.R, how do we print out the contents stored in clickData in the R console?

[2020-03-28 05:03] jimmyliu1326 commented on #60
Never mind, you can just add print(clickData) in app$callBack and it will print to the terminal

[2020-03-28 06:20] firasm commented on #60
Yup just a print statement will work - sorry I was late!

[2020-03-28 07:14] hadleyd2 opened #61 "Question about Assignment 5 Task 1.1"
Hello,

I am not sure what the second bullet point in [Assignment 5 Task 1.1](https://stat545.stat.ubc.ca/evaluation/assignment_05/assignment_05/) is asking for. Text is repeated below:

In Assignment 4, we created a dropdown menu and a slider. Is this bullet point asking us to explain the options of the slider only? Should we mention that it is not affecting the histogram since we have not been t

[2020-03-28 07:18] yuliaUU commented on #61
Hi,

I am sorry my instructions was not clear. I meant that before the slider there will be some text describing what slider do , e.g. choose the diamond' cut or select the variable of interest

You will need to do it for both dropdown and slider , cause at the end you will connect both of them. If you feel that the components you designed are self explanatory,  you don't have to do it!

Does it m

[2020-03-28 07:25] firasm commented on #59
Here's an example I hacked together, try this - does this help you get most of the way there?

You will need to either set up multiple callbacks or have a callback with multiple outputs.

[code]

[2020-03-28 07:26] hadleyd2 commented on #61
Hello @yuliaUU,

Thanks for responding so quickly! I think I understand. We basically just need to label the dropdown and sliders with some description of what they do.

Why do you recommend `htmlP()` while the guidebook has been using `htmlLabel()`? Should I switch to using `htmlP()`?

Thanks!

[2020-03-28 07:29] yuliaUU commented on #61
Yes, you are right label would be a better option, I just provided suggestion that we already used in class so that people who are not familiar with the new items could achieve the goal easier. But I will update assignment to include `htmlLabel` as it would be the best option in this case. Thank you for your feedback!
It is very helpful!

[2020-03-28 07:38] firasm commented on #61
This was based before too so I'll just provide a more comprehensive answer. The html components are listed [here and described in more detail](https://dash.plotly.com/dash-html-components/p).

Both components will (probably) work but `htmlLabel` is more appropriate, especially if the description is short.

See examples in action of what `p` and `label` do (in the HTML world, where they come from):

[2020-03-28 07:49] almas2019 commented on #61
I'm a bit confused with the instructions here, so for the histogram we were plotting by price, when we link our dropdown, does the dropdown mean we are now plotting by clarity or are we still plotting by price but filtered by clarity?

[2020-03-28 22:23] luckymeng7 commented on #38
Hi @yuliaUU ,

Sorry that I missed your message. Actually "Source on save" somewhat helped.  I could update the script if I source the app.R in console upon save, rather then calling it in my terminal.

![image](https://user-images.githubusercontent.com/19479517/77835244-0f625100-7108-11ea-8158-6d0dac418bc2.png)

Thanks,
Monica

[2020-03-29 02:14] almas2019 opened #62 "Assignment 5 Task 2"
Hi all,

I was wondering for task 2, do we have 2 other graphs that are connected by the slider (so a total of 3 graphs in the app.R) or is the first graph supposed to also be connected to the slider? Also can we change the plot we created for assignment 4 as my plot is not very amenable to the slider?

[2020-03-29 02:17] mnybe1 opened #63 "Error loading data locally"
Hi, I'm receiving this error message when running '_make all_' or '_Rscript scripts/load_data.R --data_url="https://raw.githubusercontent.com/hanrach/youtube_dataset/master/CAvideos.csv"_ 'locally, so I'm not able to get the data for our project:

Attempting to download data and write to disk...
error object is Error in file(file, ifelse(append, "a", "w")): cannot open the connection

Data has bee

[2020-03-29 02:32] yuliaUU commented on #62
No,
First graph connected to dropdown and a radial button for log scale

Other two graphs updates based on a slider

[2020-03-29 02:33] almas2019 commented on #62
Okay so 3 graphs in total, thank you!

[2020-03-29 02:35] yuliaUU commented on #62
Yes! Correct!

[2020-03-29 02:50] yuliaUU commented on #63
I think you suppose d to put your data in the public folder. ( remember where we put raw data). I think because your folder is private, that creates an issue

can you share the code it is running?

Firas, correct me if I am wrong

[2020-03-29 04:26] firasm commented on #63
Yep @mnybe1 - you should put your datasets in this repo that I created (and gave you access to): https://github.com/STAT547-UBC-2019-20/data_sets

Then you can grab the public link for it and use it for your scripts.

[2020-03-29 04:48] hanrach commented on #63
The Makefile uses the url from a public repository:
https://raw.githubusercontent.com/hanrach/youtube_dataset/master/CAvideos.csv

and local path is not hardcoded anywhere...

[2020-03-29 05:07] firasm commented on #63
Okay, I'm [cloning your repo](https://github.com/STAT547-UBC-2019-20/group_2_youtube) and taking a look.

[2020-03-29 05:19] firasm commented on #63
Ah solved it!

Your `load_data.R` script requires a `data` folder to be present in the repo. That folder isn't there, so even though the data is downloaded, it can't find anywhere to put it.

You have two options:

1) In your `load_data` script, check if the folder exists and create it if not. [Here](https://stackoverflow.com/a/29784923) is an example of how to do that.

2) create the `data` folde

[2020-03-29 05:22] firasm commented on #61
Does this answer your question @hadleyd2 ? if so, please close :-)

[2020-03-29 05:23] #60 closed

[2020-03-29 05:23] #57 closed

[2020-03-29 05:23] firasm commented on #58
Did this fix your issue @dy-lin ?

if not please link to your app so I can try it!

[2020-03-29 05:24] #53 closed

[2020-03-29 05:24] hanrach commented on #63
Thank you!
An issue we ran into in github is that it does not allow us to add empty directories, so I think that's why we had this problem.

[2020-03-29 05:26] firasm commented on #63
Right - one workaround is to add a README.md in that file ; that can never hurt (you should also avoid deleting ALL files in the directory, perhaps do `rm data/*.csv` rather than `rm data/*` in your Makefile).

Feel free to close the issue when it's done

[2020-03-29 14:22] mnybe1 commented on #63
Great, thanks so much, all working now!

[2020-03-29 14:22] #63 closed

[2020-03-29 18:22] hadleyd2 commented on #61
Thanks for the help, everyone!

[2020-03-29 18:22] #61 closed

[2020-03-29 19:57] almas2019 commented on #62
@yuliaUU for the slider I am just confused here. So if a value like Very Good is selected, should the graphs also include fair and good diamonds in a cumulative fashion? Or should it be like the dropdown, where only results from very good diamonds should show? I am confused on how to interpret a slider's value in the context of the graph?

[2020-03-29 23:35] yuliaUU commented on #62
I updated instructions and provided some examples of what is needed [here](https://stat545.stat.ubc.ca/evaluation/assignment_05/assignment_05/)

[2020-03-29 23:41] almas2019 commented on #62
Hi @yuliaUU thank you for your reply. I took a look at the link, but it still does not seem to answer my question above about the slider. I was wondering if you could elaborate on that?

[2020-03-29 23:45] yuliaUU commented on #62
@almas2019 (sorry was typing)
both options will work, I could not specify more because it will depend on the graphs you created

e.g. for example, if you plot price vs carat, then yes, input from the slider ( e.g.cut is Very Good) will  update the graph so that the relationship between price and carat only shown for diamonds with Very Good cut

However, you could already have a graph that has cut

[2020-03-29 23:49] almas2019 commented on #62
Okay thank you that makes sense!

[2020-03-29 23:49] #62 closed

[2020-03-29 23:54] yuliaUU opened #64 "Assignment 5 clarifications"
Hi everyone,

I realized that my instructions for assignment 5 were too confusing. So I updated them [here](https://stat545.stat.ubc.ca/evaluation/assignment_05/assignment_05/).  I also included some links that show an example of how certain tasks should look like ( e.g. examples of annotation/label to the dropdown)

Also, if you have issues about a slider, see issue [#62]

If you have any issues/

[2020-03-30 02:41] SaelinB opened #65 "Problems with dash after R update"
Hello,
I just updated to R 3.6.3, and I re-installed dash with `install_github(plotly/dashR, upgrade = TRUE)` with no problems. I can load dashCoreComponents and dashHtmlComponents, but when I try to run app.R it says:

_package ‘dashCoreComponents’ was installed by an R version with different internals; it needs to be reinstalled for use with this R version
Execution halted_

When I try `install.

[2020-03-30 02:45] firasm commented on #65
hmm - that's weird.

Things I would try:

- check version of R running in the terminal/command-line. Is it different from 3.6.3? Type `R` in a command line and then check version by `sessionInfo()`

- Restart RStudio

- uninstall dashr `remove.packages()`

- Restart Rstudio

- reinstall dashr (`install_github("plotly/dashR", upgrade=TRUE)`)

[2020-03-30 04:06] yuliaUU commented on #65
Can you try and update the package?

[2020-03-30 04:26] SaelinB commented on #65
I tried all the above, and I've tried removing dash, dashCoreComponents and dashHtmlComponents separately before reinstalling dashr, and my command line version is 3.6.3. I've tried updating dash, as well as html/core components separately. I get the same errors. Is it possible that it doesn't work with this version?

[2020-03-30 04:41] firasm commented on #65
I just updated to 3.6.3 on my other laptop (boy was it a huge pain) - and after about 20 mins of re-installing I can confirm that dash does indeed work with R 3.6.3

[2020-03-30 04:43] firasm commented on #65
Oh also, I just noticed that you're tying to use `install.packages` to install dash core components.

That won't work as you need to install it using

`install_github("plotly/dashR", upgrade=TRUE)`

That should take care of installing dash core components and dash html components.

Let's hop on a zoom call at some point tomorrow to troubleshoot. I think this is happening because you have some pack

[2020-03-30 04:46] dy-lin commented on #65
I'm on macOS Catalina and didn't have issues with R 3.6.3 and dashR. Maybe it has something to do with Windows/Linux OS?

[2020-03-30 05:00] SaelinB commented on #65
Yeah, I have ubuntu so it could have something to do with that? But yes @firasm let's call tomorrow

[2020-03-30 05:35] firasm commented on #65
Okay, let's do 1 PM tomorrow?

I'm available anytime until 3...

### Zoom details

Firas Moosvi is inviting you to a scheduled Zoom meeting.

Topic: Dash Troubleshooting
Time: Mar 30, 2020 01:00 PM Vancouver

Join Zoom Meeting
https://ubc.zoom.us/j/662327208

Meeting ID: 662 327 208

One tap mobile
+16473744685,,662327208# Canada

[2020-03-30 05:55] SaelinB commented on #65
Yep that works, see you then!

[2020-03-30 16:57] qiyangqd opened #66 "Scale of x-axis (date format) in ggplotly unmatches the line graph"
Hi! I've plotted a line graph using `ggplot2()`, and its x-axis is in date format ("2012-01-01"). The graph looks good, but when I put it into `ggplotly()`, the label on the x-axis doesn't match the value of x in the line graph. It seems `ggplotly()` has changed something. It'll be great if you could help me with this! Thanks a lot in advance!

Below are the screenshots showing my problem:
- This

[2020-03-30 17:03] firasm commented on #66
wow this looks like a serious bug! Good catch!

I'll have to dig into it a bit more - thanks for the sample code to reproduce this!

In the meantime, you probably shouldn't spend too much more time on debugging this (assuming you've tried the basic things of checking your data to make sure it looks ok).

[2020-03-30 17:07] firasm commented on #66
Found a similar issue here, just on a whim can you try [this solution](https://stackoverflow.com/a/45086926) ?

[2020-03-30 20:27] firasm commented on #65
Ah! We were supposed to put it in Renviron!

See [older issue about this here](https://github.com/STAT547-UBC-2019-20/Discussions/issues/52#issuecomment-603020871)

let me know if it works!

[2020-03-31 04:05] almas2019 opened #67 "Lagging Tabs"
Hi all,
I did the tab layout for the assignment but I noticed quite a bit of lag when updating between tabs (it works but its slow). Is there a way to speed this up or is it because of the 2 graphs on the second tab?

[2020-03-31 05:33] yuliaUU commented on #67
I read that it is plotly that’s taking the bulk of the load time. I wonder how you set up your graphs:
- ggplotly() are inside the functions OR
-  dccGraph( id="",  figure=ggplotly()) )

 I wonder if playing around with this can speed up the process?

[2020-03-31 05:34] yuliaUU commented on #67
also, having multiple callbacks can reduce the app loading time. try to combine as many callbacks as possible.

[2020-03-31 06:05] yuliaUU commented on #67
Found the following from [here](https://www.r-bloggers.com/speeding-up-r-plotly-web-apps-r-x-javascript-part-i/):
`The number of graphs you plot or the type of graphs you use does not affect the bundle size – the whole plotly package is loaded. So this means that even though we are only using bar and line charts, the scripts for drawing maps, 3D graphs, heatmaps etc. are all being loaded.`

[code]

[2020-03-31 06:07] qiyangqd commented on #66
Hi @firasm ! Thank you for showing me the solution! I'm sorry I tried but it didn't change to the right one as expected. I used it like this:

a <- ggplot(df_year_change) +
  geom_line(aes(x= **as.POSIXct(date)**, y=pm2.5),
            alpha = 0.6,
            size = 0.6) +
  geom_vline(xintercept = as.numeric(as.Date("2013-09-01")),
             linetype=4, color = "blue", size = 1) +
  labs(x =

[2020-03-31 06:23] yuliaUU commented on #66
`scale_x_date(date_labels = "%Y",limits = as.Date(c("2010-01-02","2014-12-31")))` will solve everything, I used a code from `bug.txt`

your date axis was not plottling dates correctly, you specified format "%Y-%m-%d", but axis showed years only, so you have to tell ggplot the format of date to display

[2020-03-31 06:40] qiyangqd commented on #66
Wow thanks @yuliaUU ! I tried your suggestion and just used another format "%Y-%m-%d" (as I want keep its date), and it worked!

[2020-03-31 06:48] yuliaUU commented on #66
%Y% will change the date format, only in x-axis labels s ( you can use "%b-%Y" ,
 you can put any format you like there, it will not change the values from your dataset. unless you want x-axis to have days, month and years ( then you need "%Y-%m-%d" )

[2020-03-31 07:00] qiyangqd commented on #66
Ohh I see! The values are not changed, just the label of the x-axis. Yes, I would like the x-axis to have day, month and year so users can track down to a specific date. Thank you very much for the clarification! I'll close the issue soon.

[2020-03-31 07:01] yuliaUU commented on #66
No worries! glad the issue is solved!

[2020-03-31 07:02] #66 closed

[2020-03-31 08:07] firasm commented on #66
Nice work both!

[2020-03-31 18:00] almas2019 commented on #42
@firasm  I can't join the meeting with the link or the meeting id/password

[2020-03-31 18:16] dy-lin commented on #58
Yes, it did! I'll close the issue. It is not very clear in the dashR documentation that a custom css file is used.

[2020-03-31 18:16] #58 closed

[2020-03-31 18:20] dy-lin commented on #59
How does the function for `update_booleanswitch` work if I do not want to print any message to screen?

EDIT: Nevermind, I see now! I'll try updating other components and let you know how it goes.

[2020-03-31 18:21] yuliaUU commented on #42
Join Zoom Meeting
https://us04web.zoom.us/j/133579135?pwd=ODNOazBGSU9Jay9jYi9SNUR1aEMwUT09

[2020-03-31 19:46] dy-lin commented on #59
@firasm, the reset button works to reset all the graphs and other buttons/dropdowns. I am now having the issue that since the other call backs use n_clicks > 0 as whether or not to use default values, that after pressing the reset button once, it will always satisfy that condition. For example, here is an example callback:

[code]

How do I make it so **after** the reset button is used to execute

[2020-03-31 20:07] dy-lin opened #68 "Peer Feedback"
Hi @firasm,

@Nima-Jamshidi and I were put in the same break room and did not receive feedback on our dashboard from our peers. We tried to reach out to you but you were in another break room and could not see our messages, even after we sent the message using the main session.

What should we do for our participation/feedback issue?

[2020-03-31 20:07] jimmyliu1326 opened #69 "Changing height/length of scrolldown list shown"
Is there a way to specify how long the list of items appears when one clicks on a dropdown menu? Currently, by default the dropdown menu shows 6 items before you need to scroll down to select other items. Is it possible to reduce that to say, only 5 or less items so that the dropdown menu takes up less space in a container?

[2020-03-31 20:24] luckymeng7 opened #70 "Update the deployed app"
Hi @firasm ,

What are the proper steps to update the app after we deployed it? Should we clone the updated repo again and repeat the creating container or other steps again? It's a bit painful to re-deploy everything all over again when I find out there are some missing packages to be installed.

Thanks,
Monica

[2020-03-31 20:55] yuliaUU commented on #70
I think you just hit deploy app again

[2020-03-31 21:00] luckymeng7 commented on #70
Ok, so the 20 mins deploying time could not be avoided?

[2020-03-31 21:02] firasm commented on #70
Correct - that's why it's important not to "debug" on the server.

You should have a fully functional app locally, and then as a final step, deploy it. You may run into some issues still and that's fine, but it's not a good idea to make changes, deploy, get an error, fix etc...

[2020-03-31 21:07] firasm commented on #68
sorted out [here](https://github.com/STAT547-UBC-2019-20/group_01_dlin_njamshidi/issues/50).

My apologies for this!

[2020-03-31 21:07] #68 closed

[2020-03-31 21:10] luckymeng7 commented on #70
Any tips on how to check if I've all the packages installed in init.R?

[2020-03-31 21:13] firasm commented on #70
Yep - but nothing magical or fast: Go through your app, and make a list of all the packages you use (`library('blah')`) and then make sure the `init.R` file contains all those packages.

If you were diligent about keeping your README updated, then your list of package dependencies there should help!

[2020-03-31 21:13] #64 closed

[2020-03-31 21:21] luckymeng7 commented on #70
Gotcha, will include every detail for the packages. Thanks @firasm and @yuliaUU

[2020-04-01 07:52] #59 closed

[2020-04-01 19:35] dy-lin opened #71 "cm110 participation"
Is anyone else also finding that their `app.R` in cm110 doesn't work if `debug = TRUE`? I seem to see the same issue when using the `app_complete.R` from the Discussion repo (with my own `dash_components.R` and `dash_functions.R`)

[2020-04-01 19:37] firasm commented on #71
yes unfortunately this seems to be a bug in Dash - [I reported here](https://github.com/plotly/dashR/issues/187).

Either the debug mode is overzealously complaining (bug), or there is a problem that I cannot see.

[2020-04-01 19:39] dy-lin opened #72 "assignment 6"
I vaguely remember in the class meeting that assignment 6 has been released but I can't seem to find the link on the assignments [page](https://stat545.stat.ubc.ca/evaluation/assignments/).

[2020-04-01 21:33] evelynjulia commented on #72
It was meant to be released late yesterday....

@firasm could you release the assignment soon so that we can get started on it?

[2020-04-02 00:20] firasm commented on #72
Sorry folks.

I’m waiting for permission to use someone else’s app in the assignment... just waiting for confirmation.

By tonight it should be there one way or another. I’ll adjust due date by 24 hours to compensate.

Apologies for the delay!

[2020-04-02 06:25] firasm commented on #72
A6 now posted here: https://stat545.stat.ubc.ca/evaluation/assignment_06/assignment_06/

I have added 24h to the due date.

[2020-04-02 06:25] #72 closed

[2020-04-02 06:25] #70 closed

[2020-04-02 06:50] firasm commented on #69
Hmm - no I've never had to do that before. It's probably a CSS property though, I just can't figure out which one controls the number of options it shows before it starts scrolling.

Here's as far as I got, maybe it'll help?

[code]

The height controls the height of the whole dropdown, but not the individual items.

![Screen Shot 2020-04-01 at 11 49 48 PM](https://user-images.githubusercontent.co

[2020-04-02 06:51] #56 closed

[2020-04-02 06:51] #38 closed

[2020-04-02 06:51] firasm commented on #65
Hey @SaelinB did this get fixed?

[2020-04-02 20:03] SaelinB commented on #65
Sorry, was busy with other things and just did it now, works great!! Thanks for your help :)

[2020-04-02 22:50] firasm commented on #65
Nice!

[2020-04-02 22:50] #65 closed

[2020-04-03 05:34] jimmyliu1326 commented on #69
Thanks for the help! It does seem to be quite tricky. I have tried modifying the height parameter as well, but it didn't achieve the desired output. This is a very minor issue though, I was mostly just curious. :)

[2020-04-03 18:08] evelynjulia opened #73 "Teamwork doc missing"
I don't think the assignment 6 teamwork doc is in the repo...

[2020-04-03 18:11] firasm commented on #73
Rats! you're right .

Sorry about that, you can grab it from [here](https://github.com/STAT547-UBC-2019-20/Discussions/blob/master/teamwork.Rmd) and add it to the repo.

[2020-04-03 18:18] firasm commented on #73
Ok I added it to everyone's repos!  should be good now.

Thanks @evelynjulia

[2020-04-04 20:32] mksm1228 opened #74 "Assignment 06 task 3 mapproj?"
Hello @firasm,

For task 3 of assignment 06, the heroku app will not deploy and when I type in heroku log --tail in the terminal, one of the errors that pops is that mapproj does not exist. However, mapproj is a package and I had installed it prior to ensure the Boston crime app.R would work. Is there a work around for this issue? I also have all 5 files (dockerfile, init.R, app.json, heroku.yml,

[2020-04-04 20:37] yuliaUU commented on #74
did you modify init.R? to include the libraries you need to download?

[2020-04-04 20:57] firasm commented on #74
Give us a link to your repo and we can have a look.

[2020-04-04 22:33] mksm1228 commented on #74
@yuliaUU @firasm

Yulia's suggestion of adding install.packages('mapproj') to the init.R file worked! Thanks Yulia!

[2020-04-04 22:50] yuliaUU commented on #74
Great it helped!don't forget, some of those 5 files you included have to be modified to match your project!

[2020-04-04 23:09] mksm1228 commented on #74
Ok thanks for the note!

[2020-04-05 03:31] #74 closed

[2020-04-05 21:44] SaelinB opened #75 "Assignment 6 bug fixes"
Hi,

I just wanted to double-check that there is a bug here, because I fixed the other bugs and the app runs fine with no error, both locally and on heroku:

app$run_server(host = "0.0.0.0", ports = Sys.getenv('PORT', 8050))

Thanks

[2020-04-05 22:00] yuliaUU commented on #75
can you try changing to host='127.0.0.1'? will it work?

[2020-04-05 22:14] SaelinB commented on #75
app$run_server(host = '127.0.0.1', ports = Sys.getenv('PORT', 8050))
app$run_server(host = '127.0.0.1')

Both work as well

[2020-04-05 22:23] yuliaUU commented on #75
Awesome !lets then use one of those^^

[2020-04-05 22:53] firasm commented on #75
I think you misunderstood @yuliaUU, I think @SaelinB is saying they're actually all working.

@SaelinB Not all bugs throw errors... compare what is in the app to this:

`app$run_server(host = '0.0.0.0', port = Sys.getenv('PORT', 8050))`

Hint: one of the arguments is not spelled correctly.

This is a tricky bug to find!

[2020-04-05 23:14] yuliaUU commented on #75
@firasm  yes, it was part of the feedback I gave her:
her line: `app$run_server(host = '0.0.0.0', port = Sys.getenv('PORT', 8050))` won't work on my computer: because when I run the app, then the massage says in need to go to `http://0.0.0.0:8050 /` to see the app, so when I do it, nothing is displayed. However,  if I type in browser `http://127.0.0.1:8050/` it works, so I asked her to modify that

[2020-04-06 00:19] hanrach opened #76 "Assignment 6 bug"
When I fix the five bugs and run Rscript app.R  with `app$run_server(host = "0.0.0.0", port = Sys.getenv('PORT', 8050), debug= TRUE)` there is an error saying:

[code]

I'm not sure what's going on here, I don't think any of the bugs are related to using `list`.

[2020-04-06 00:42] yuliaUU commented on #76
`debug=FALSE` , will it work?

[2020-04-06 00:43] yuliaUU commented on #76
also, just curious, will this one work for you?
`app$run_server(host = '127.0.0.1', ports = Sys.getenv('PORT', 8050))`

[2020-04-06 00:47] hanrach commented on #76
@yuliaUU , thanks for replying!

Setting debug= FALSE still gives me the same error with more text

[code]
and  same with `app$run_server(host = '127.0.0.1', ports = Sys.getenv('PORT', 8050))`. The problem I don't think lies with the `app$run_server`, because it's saying it cannot coerce type environment to list. And the page loaded says `error loading layout`. Perhaps there is a bug in the layout

[2020-04-06 00:49] yuliaUU commented on #76
can you give me a link to your app? I will try and check what is wrong!

[2020-04-06 00:51] hanrach commented on #76
Thank you!

https://github.com/STAT547-UBC-2019-20/assignment-06-hanrach/blob/master/app.R

[2020-04-06 01:00] yuliaUU commented on #76
[code]

I think the issue is in callbacks:
df and gdf are not the input from any slider or dropdown, and df / gdf are not assigned any default values inside the function too.

I would write it like this:
[code]
and then produce  df and gdf inside the function

[2020-04-06 02:21] dy-lin opened #77 "Milestone 06: Procfile"
On the [milestone6](https://stat545.stat.ubc.ca/evaluation/milestone_06/milestone_06/) criteria page:

What is a `Procfile`? Does it serve the same purpose as the `apt-packages` file? The `cm111` example [repository](https://github.com/STAT547-UBC-2019-20/dashR_heroku_deploy) does **NOT** have a `Procfile` either?

[2020-04-06 02:25] firasm commented on #77
Ah - that is a remnant from an older version of the instructions. Now it's called `apt-packages`.

Good catch, thanks. I've fixed it and pushing the update now.

[2020-04-06 02:26] firasm commented on #77
Updated ! should be up soon.

[2020-04-06 02:26] #77 closed

[2020-04-06 08:28] almas2019 opened #78 "Splitting the App-Milestone 6"
HI I just wanted to confirm that splitting the app.R into smaller files is an optional task?
Thanks,
-Almas

[2020-04-06 09:29] stannam opened #79 "Submitting participation assignment?"
Hi.
I'm just wondering how to submit the participation assessment. Do I need to submit a URL to the release (as we did for the project milestones or assignment)? But there is no way I can submit one via canvas. Do we just leave the repository as we did for STAT545 so that TAs can grade it after the deadline?

[2020-04-06 17:23] firasm commented on #79
Thanks @stannam - we have a canvas assignment ready where you can submit the link but it isn't open yet.

@yuliaUU or I will open it soon. Thanks!

F

[2020-04-06 17:31] firasm commented on #78
Yes, optional. It’s there if you’d like more practice with that.

[2020-04-06 17:37] yuliaUU commented on #79
@stannam , I opened the link!

[2020-04-06 17:47] dy-lin commented on #72
Hi @firasm @yuliaUU, A6 extended deadline does not look reflected on the Canvas submission link?

[2020-04-06 17:51] yuliaUU commented on #72
let me check!

[2020-04-06 17:52] yuliaUU commented on #72
@dy-lin I see it is available until April 7th 6pm, 24 hr more than usual

[2020-04-06 17:54] evelynjulia opened #80 "Teamwork canvas assignment"
What do we submit for this? I thought we handed in the teamwork docs with our assignments. Do we have to submit something else on Canvas?

[2020-04-06 17:58] yuliaUU commented on #80
[Teamwork Document](https://stat545.stat.ubc.ca/evaluation/teamwork/)
Due: March 21 (for parameterized report project) and April 4 2020 (for dashboard project).

[2020-04-06 17:59] firasm commented on #80
Nothing, there is no submission needed for this. It’s for internal (book-keeping) use only

We will review the two teamwork docs you submitted and assign you a value in that canvas assessment so it shows up correctly in your Grades page.

[2020-04-06 18:01] #80 closed

[2020-04-06 18:10] dy-lin commented on #72
I thought normally, the assignments/milestones were due Saturday night at 6pm, with a 48h grace period: Monday night at 6pm.

However since moving to Zoom/online classes, everything was given an additional 24h grace period to Tuesday night at 6pm.

And with the additional 24h for **assignment 6**, shouldn't it be available until Wednesday night at 6pm (April 8th, 6pm)?

Right now I see it is set a

[2020-04-06 18:19] firasm commented on #72
I think it was mistakenly reverted to the regular schedule.

It's now due on Sunday + 72h again.

[2020-04-06 18:55] stannam commented on #79
Thanks for your response. I've submitted the link to a release.
Thanks!

[2020-04-06 18:55] #79 closed

[2020-04-06 22:51] hanrach opened #81 "heroku application error"
After deploying to heroku, the page fails to load. Checking the error log, I find that we have this error:

[code]

How should I fix this error?

[2020-04-06 22:57] hanrach commented on #81
[code]
Actually I think it's crashing as we load our data because our data is too big, maybe.

[2020-04-06 23:37] HJMcSorley opened #82 "reference dash_component.R and dash_functions.R scripts for app.R deployment on Heroku"
👋 Our app.R relies on source files 'dash_components.R' and 'dash_functions.R' (as described in cm110, part 2).

Should these files be referenced in the Dockerfile or Init.R file for deployment on Heroku?? I cannot find documentation on this.

Following instructions for deployment (after updating packages in Init.R), Heroku says "Your app was successfully deployed." But when I try to view it I see

[2020-04-07 00:07] hanrach commented on #81
Shrinking the dataset worked.

[2020-04-07 00:07] #81 closed

[2020-04-07 00:27] mksm1228 opened #83 "issue with plotly map"
Hello @firasm @yuliaUU

@Sihaoyu1220  and I have an issue with the plotly scattermapbox where the points on the map will disappear or reappear when we switch the tabs. We tested it out with our friends and for some friends it will work fine (the points will stay), others it will not, seems to be completely random. Could you please see our code and let us know what might we be doing wrong? We feel

[2020-04-07 00:34] jimmyliu1326 commented on #76
Having the exact same issues here, tried the above solutions, still producing the same errors. The page just displays ```error loading layout``` when I open up 127.0.0.1 in my browser.

[2020-04-07 00:42] hanrach commented on #76
In my case, it turned out that I did not really solve the bug. How I debugged was to comment out everything except plotting functions and included graph one by one in app$layout.

[2020-04-07 01:16] firasm commented on #83
Is it deployed already? can you provide a link to the deployed version?

[2020-04-07 01:16] #78 closed

[2020-04-07 01:16] mksm1228 commented on #83
https://group3-airbnb2.herokuapp.com/

Thanks Firas!

[2020-04-07 01:19] firasm commented on #82
Just to troubleshoot, can you try debug = FALSE ?

Just looking at [this line of code](https://github.com/plotly/dashR/blob/master/R/dash.R#L1090) here...

[2020-04-07 01:26] firasm commented on #81
Oh interesting - good catch and nice work troubleshooting!

[2020-04-07 01:31] jimmyliu1326 commented on #76
Ah, yah was able to narrow it down to graph2 component, it turned out that I never properly fixed the bug in ```trendplot()```. Thanks! :D

[2020-04-07 01:34] firasm commented on #83
I can reproduce the problem in Chrome on macOS (sometimes) but not on Safari.

here is the Javascript Error console (in Chrome View, Developer console).

I see errors like this: `Error: <path> attribute d: Expected number, "Mundefined,506.86…".`

Does this mean anything to you? Hopefully it points you in the right direction. Perhaps there's a problem in the data

![Screen Shot 2020-04-06 at 6 32 4

[2020-04-07 01:55] mksm1228 commented on #83
Hey Firas,

Thanks for looking into the issue. We have never seen an error like that before and Google doesnt show anything. Would it be fine to submit this as it is currently? If you select something, the map works properly, but it just doesn't load properly when you first click the Map tab.

[2020-04-07 02:14] firasm commented on #83
Yes sounds fine. Just add an issue in your repo filing this as a bug/future enhancement.

[2020-04-07 02:33] HJMcSorley commented on #82
with debug = FALSE

[code]

[2020-04-07 04:22] yuliaUU commented on #82
Can you try cutting the size of your database (may be reduce number of columns by half or rows)

[2020-04-07 04:33] firasm commented on #76
Great - nice work folks!

I hope this assignment was useful! You often learn a lot about new frameworks when debugging others' code.

[2020-04-07 04:33] #76 closed

[2020-04-07 05:47] HJMcSorley commented on #82
Hi @yuliaUU
Our app uses a reduced dataset that was generated in our data_processing.R script ... we filtered out instances that did not include capital gains or losses, so the total dataset is relatively small already.

[2020-04-07 07:04] firasm commented on #82
See PR here : https://github.com/HJMcSorley/group_08_ADULT-INCOME-1/pull/12

The problem was the last line of the app. It should have been:

[code]

when deploying.

[2020-04-07 15:28] #82 closed

[2020-04-07 15:46] HJMcSorley commented on #82
Hi @firasm thank you so much for catching that!! That worked without a problem. 👏
Thanks!

[2020-04-07 20:52] mnybe1 opened #84 "cm105"
Hi, I'm just getting my participation repo sorted and for cm105 we are required to submit the cloned demo project and make file.
I have the demo project in my cm105 participation folder, but on git hub you can't access it/actually click on it, and therefore also can't get a link to the makefile.
Just wondering how we submit these?
Thanks!

[2020-04-07 21:21] dy-lin commented on #84
I remember having the same issue because you technically have a GitHub repo within another GitHub repo (i.e. `git submodules`). If you remove the `.git` directory in the demo project folder you should be able to commit and push those files just as you would regular files.

If that doesn't work, I would download the demo project as a `.zip` and move that into the participation repository (just don'

[2020-04-07 22:31] firasm commented on #84
Hey what @dy-lin said above is correct!

[2020-04-08 04:33] #71 closed

[2020-04-08 15:08] mnybe1 commented on #84
Great, thanks @dy-lin & @firasm !

[2020-04-08 15:08] #84 closed

[2020-04-11 04:51] jimmyliu1326 opened #85 "Teamwork on Canvas"
For the teamwork assignment on Canvas, is there anything we need to submit for this? I thought all the teamwork assignments were already submitted along with homework 03 and 06?

[2020-04-11 04:52] firasm commented on #85
Nope, nothing you need to submit. It’s just a placeholder for us to enter your final teamwork grade (after reviewing your two submissions).

[2020-04-11 17:44] qiyangqd opened #86 "Grace period also apply to participation?"
Hi! Sorry for the last-minute question! I just want to make sure if the grace period also applies to the participation. Does it mean we can submit a link the participation release to canvas on Apr 13 before 6 pm (as it's indicated in canvas now) and will not lose marks for the delay? Thanks a lot!

[2020-04-11 18:41] yuliaUU commented on #86
@qiyangqd yes, that is correct!

[2020-04-11 18:51] qiyangqd commented on #86
Awesome! Thanks @yuliaUU !

[2020-04-11 18:52] #86 closed

[2020-04-12 06:14] hanrach opened #87 "participation"
Is there a grace period for participation hand in?

[2020-04-12 07:11] firasm commented on #87
yes, same grace period.

[2020-04-13 22:36] hanrach commented on #87
Is it the 72 hour grace period? On canvas it says it's available until April 13th 6pm.

[2020-04-13 22:43] yuliaUU commented on #87
yes, that deadline already include 72 hr grace period, so you need to submit before 6pm today

[2020-04-13 22:43] firasm commented on #87
I mean, we can extend it if absolutely necessary but ideally you should submit them by today so we can complete grading for the course.

[2020-04-13 22:46] hanrach commented on #87
I thought the grace period of 72 hrs would make it due on the 14th... given that the original due date was on the 11th.

[2020-04-13 22:50] firasm commented on #87
I have changed the availability period on Canvas to reflect 72h from when it's due.

[2020-04-13 22:51] hanrach commented on #87
Thanks!

[2020-04-13 22:51] #87 closed

[2020-04-15 03:20] firasm opened #88 "All grades posted on Canvas!"
Hello @STAT547-UBC-2019-20/students,

Hope you all had a great Easter break!

All STAT 547M grades have been posted to Canvas - please check them before I finalize grades and submit them to the SSC.

I don't anticipate any problems, so I will likely submit them at some point tomorrow. If you do have any issues, or would like more time to review your grades, please send me a Canvas message ASAP!

T

[2020-04-16 00:16] #88 closed

[2020-04-16 00:16] #21 closed

[2020-04-16 00:16] #37 closed

[2020-04-16 00:16] #42 closed

[2020-04-16 00:16] #47 closed

[2020-04-16 00:16] #54 closed

[2020-04-16 00:16] #67 closed

[2020-04-16 00:16] #69 closed

[2020-04-16 00:16] #75 closed

[2020-04-16 00:16] #83 closed

[2020-04-16 00:16] #85 closed